extends layout

block content
  h1= title
  p Welcome to #{title}
  p(id="id") #{computer._id}
  h2 #{computer.name}
  p #{computer.type}
  p #{computer.infor}
  p #{computer.serie}
  p #{computer.cost}
  img(src="#{computer.posters}") 
  img(src="#{computer.images}")
  p #{computer.show}
  p #{computer.cpu_name}
  p #{computer.cpu_speed}
  p #{computer.cpu_type}
  p #{computer.system}
  p #{computer.show_size}
  p #{computer.show_type}
  p #{computer.xian_type}
  p #{computer.pan_size}
  p #{computer.ram_type}
  p #{computer.ram_size}
  p #{computer.port_type}
  p #{computer.port_amount}
  p #{computer.listen_type}
  p #{computer.power_type}
  p #{computer.power_time}
  p #{computer.size}
  p #{computer.weight}
  a(id="shoplist") 加入购物车
  a(href="/shoplist") 查看购物车