extends layout

block content
  div.carousel.slide(id="myCarousel")
    ol.carousel-indicators
      li.active(data-target="#myCarousel" data-slide-to="0")
      li(data-target="#myCarousel" data-slide-to="1")
      li(data-target="#myCarousel" data-slide-to="2")
    div.carousel-inner
      div.item.active
        img(src="/images/1.jpg" alt="First slide")
      div.item
        img(src="/images/2.jpg" alt="Second slide")
      div.item
        img(src="/images/3.jpg" alt="Third slide")
    a.carousel-control.left(href="#myCarousel" data-slide="prev")
      span &lsaquo;
    a.carousel-control.right(href="#myCarousel" data-slide="next")
      span &rsaquo;
  .container.marketing
    - for(var i in computers)
        if i%2 == 0
          .rowfeaturette
            .col-md-6.text-center
              h3.featurette-heading #{computers[i].name}
              p #{computers[i].type}
              a(href="/computer/#{computers[i]._id}") 查看
            .col-md-6
              img.featurette-image.img-responsive.center-block(src="#{computers[i].images}")
            .clearfix
        else
          .rowfeaturette
            .col-md-6.col-md-push-6.text-center
              h3.featurette-heading #{computers[i].name}
              p #{computers[i].type}
              a(href="/computer/#{computers[i]._id}") 查看
            .col-md-6.col-md-pull-6
              img.featurette-image.img-responsive.center-block(src="#{computers[i].images}")
            .clearfix
          hr
  footer.footer
  hr
  .container
    .row.footer-top
      .col-sm-12.col-lg-12-col-lg-offset-1
        .row.about
          .col-xs-2.center
            h4 购物指南
            ul.list-unstyled
              li 
                a 服务商信息
              li 
                a 购买流程
              li 
                a 注册登录
          .col-xs-2.center
            h4 配送方式
            ul.list-unstyled
              li 
                a 配送方式
              li 
                a 配送方式信息
              li 
                a 物流信息
              li 
                a 签收原则
          .col-xs-2.center
            h4 支付方式
            ul.list-unstyled
              li 
                a 支付方式
              li 
                a 支付问题
              li 
                a 分期支付
          .col-xs-2.center
            h4 订单信息
            ul.list-unstyled
              li 
                a 订单信息
              li 
                a 其他方式订单信息
              li 
                a 收集方式订单信息
          .col-xs-2.center
            h4 售后服务
            ul.list-unstyled
              li 
                a Lenovo频道商品售后
              li 
                a 手机频道商品售后7天
              li 
                a 无理由退换货说明
              li 
                a 24小时在线客服
          .col-xs-2.center
            h4 其他说明
            ul.list-unstyled
              li 
                a 服务承诺
              li 
                a 账户安全
              li 
                a 产品安全
              li 
                a 银行分期