extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="login") 登录
  a(href="logon") 注册
  each item in computers
    h2 #{item.name}
    p #{item.type}
    a(href="/computer/#{item._id}") 查看
    a(href="/shoplist") 我的购物车