extends admin_head

block content
  .container
    h1= title
    table.table
      tr
        td 名称
        td 类型
        td 信息
        td 所属系列
        td 价格
        td 操作
        td
        td
      each item in computers
        tr
          td.name #{item.name}
          td #{item.type}
          td #{item.infor}
          td #{item.serie}
          td #{item.cost}
          td
            a.btn.btn-default(href='/admin/update/#{item._id}') 修改
          td
            a.btn.btn-default(href="/computer/#{item._id}") 查看
          td
            form(action="/admin/delete" method="post")
              input.hide(type="text" name="name" value="#{item.name}" readonly)
              input.btn.btn-default(value="删除" type="submit")