extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{username}
  each item in shoplists
    h2 #{item.name}
    p #{item.type}
    p #{item.infor}
    p #{item.cost}
    form(action="/shoplist/removeOne" method="post")
      input(name="name" value="#{item.name}" type="text" readonly)
      input(type="submit" value="删除")
